<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation=" 
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        ">
	<!-- 短信验证码 -->
	<bean id="smsCodeQuartz" class="com.zj.access.quartz.SmsCodeQuartz"></bean>
	<bean id="smsCodeJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!--你要执行的那个方法对应的bean -->
		<property name="targetObject">
			<ref bean="smsCodeQuartz" />
		</property>
		<!--你要执行那个方法，注意方法不能有返回值，参数好像也不能有 -->
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>

	<!-- ======================== 调度触发器 ======================== -->
	<bean id="smsCodeTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="smsCodeJob"></property>
		<property name="cronExpression" value="0 */20 * * * ?"></property>
	</bean>

	<!-- ======================== 调度工厂 ======================== -->
	<bean id="trigger"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="smsCodeTriggerBean" />
			</list>
		</property>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceName">buy_it_now</prop>
				<prop key="org.quartz.threadPool.threadCount">2</prop>
				<prop key="org.quartz.plugin.shutdownhook.class">org.quartz.plugins.management.ShutdownHookPlugin</prop>
				<prop key="org.quartz.plugin.shutdownhook.cleanShutdown">true</prop>
				<prop key="org.quartz.threadPool.threadsInheritContextClassLoaderOfInitializingThread">true</prop>
			</props>
		</property>
	</bean>

</beans>