<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">

	<!-- 具体的实现bean-->
	<bean id="initService" class="com.zj.access.service.InitServiceImpl" />
 	<bean id="baseBMService" class="com.zj.access.service.BaseBMServiceImpl" />
	<bean id="baseDMService" class="com.zj.access.service.BaseDMServiceImpl" />
	<bean id="baseOtherService" class="com.zj.access.service.BaseOtherServiceImpl" />
	<bean id="basePMService" class="com.zj.access.service.BasePMServiceImpl" />
	<bean id="baseSMService" class="com.zj.access.service.BaseSMServiceImpl" />
	<bean id="baseSysService" class="com.zj.access.service.BaseSysServiceImpl" />
	<bean id="baseTMService" class="com.zj.access.service.BaseTMServiceImpl" />
	<bean id="ftpUploadMyService" class="com.zj.access.service.FtpUploadMyServiceIm" />
	<bean id="ftpUploadService" class="com.zj.access.service.FtpUploadServiceIm" />
	<bean id="smsService" class="com.zj.access.service.SmsServiceImpl" />

	<!-- 提供方应用信息，用于计算依赖关系 -->
 	<dubbo:application name="app-provider" />

	<!-- 使用zookeeper注册中心暴露服务地址 即zookeeper的所在服务器ip地址和端口号 -->
     <dubbo:registry address="zookeeper://127.0.0.1:2181"/> 
	<!-- 用dubbo协议在20880端口暴露服务 -->
 	<dubbo:protocol name="dubbo" port="20888" />

	<!-- 声明需要暴露的服务接口 -->
 	<dubbo:service interface="com.zj.access.service.IInitService" ref="initService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.BaseBMService" ref="baseBMService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.BaseDMService" ref="baseDMService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.BaseOtherService" ref="baseOtherService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.BasePMService" ref="basePMService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.BaseSMService" ref="baseSMService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.BaseSysService" ref="baseSysService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.BaseTMService" ref="baseTMService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.FtpUploadMyService" ref="ftpUploadMyService" group="zj" />
	<dubbo:service interface="com.zj.access.service.FtpUploadService" ref="ftpUploadService" group="zj"/>
	<dubbo:service interface="com.zj.access.service.ISmsService" ref="smsService" group="zj"/>
</beans>